<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQOp6kfOylWR3PSgST6rwQlbYLJqHMulk</string>
	<key>GCM_SENDER_ID</key>
	<string>406772894007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mattmartindale.HitTips</string>
	<key>PROJECT_ID</key>
	<string>hittips-8c1eb</string>
	<key>STORAGE_BUCKET</key>
	<string>hittips-8c1eb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406772894007:ios:07e5e029d616f6d11e72b2</string>
</dict>
</plist>